* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 40px 0 84px;
}

.top-content-title {
    margin: 0 0 17px 0;
}

.top-content-txt {
    margin: 0 0 37px 0;
}

.top-content {
    margin: 0 0 160px 0;
}
.top-logos {
    padding: 97px 0 96px;
}